@import url("https://fonts.googleapis.com/css?family=Stalinist+One|Share+Tech+Mono|Slabo+27px|Patua+One");
body {
  font-family: "Slabo 27px";
}
h1 {
  font-weight: bold;
  font-size: 90px;
  font-family: "Share Tech Mono";
}
h2 {
  font-family: "Patua One";
  font-size: 40px;
}
.verybig {
  font-size: 30px;
}
.big {
  font-size: 20px;
}
.company {
  margin-right: 40px;
  margin-bottom: 40px;
  height: 60px;
  filter: grayscale(100%);
}
